# https://github.com/tootsuite/mastodon/blob/master/.env.production.sample

SINGLE_USER_MODE=false

LOCAL_DOMAIN=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

SMTP_SERVER=
SMTP_PORT=
SMTP_FROM_ADDRESS=
SMTP_LOGIN=
SMTP_PASSWORD=
SMTP_AUTH_METHOD=plain
SMTP_OPENSSL_VERIFY_MODE=none

LDAP_ENABLED=
LDAP_HOST=
LDAP_PORT=
LDAP_BASE=
LDAP_BIND_DN=
LDAP_PASSWORD=
LDAP_UID=username
LDAP_SEARCH_FILTER=(|(%{uid}=%{email})(mail=%{email}))

SECRET_KEY_BASE=
OTP_SECRET=

